osx_image: xcode9.3
language: swift 

cache:
  directories:
  - Carthage

env:
  global:
    - LANG=en_US.UTF-8
    - LC_ALL=en_US.UTF-8

before_install:
  - bundle install
  - carthage bootstrap --platform iOS
  - brew outdated carthage || brew upgrade carthage

before_script:
  - carthage bootstrap --no-use-binaries --platform iOS --cache-builds

script:
  - fastlane test

after_success:
  - bash <(curl -s https://codecov.io/bash) -J 'CoinbasePro'